<div class="container pt-5 pb-5">
  <div class="row">
    <%= render "public/books/category", categories: @categories %>
    <div class="col-md-9">
    <%= render "public/searches/search" , books: @books %>
    </div>
  </div>
</div>