<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-12 text-center">
      <p class="about-title text-center" style="font-size:30px"><span>ようこそ 「えらんで　えほん」へ</span></p>
      <br>
      <br>
      <p style="font-size:15px;">
        「えらんで　えほん」は<br>
        お子様の年齢や好みにあった絵本を探す<br>
        ママやパパのための絵本探しのサイトです。
        <br>
        <br>
        <br>
        カテゴリから選んで探したり<br>
        他のママやパパのおすすめの本を覗いてみたり<br>
        色々な探し方でお子様の「だいすき！」な本を探してみてください。
      </p>

    </div>
  </div>
</div>
<div class="about_image-left">
  <%= image_tag 'capyabara01.png', size: '250x250' %>
</div>
<div class="about_image-right">
  <%= image_tag 'capyabara02.png', size: '250x250' %>
</div>