<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 style="font-size:50px">About</h1>
      <p style="font-size:15px;">
        このサイトはお子様の年齢や好みにあった絵本を探すママやパパのための絵本探しのサイトです。
      </p>

    </div>
  </div>
</div>