<table>
  <tbody>
    <% book.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to favorites_member_path(post_comment.member) do %>
          <%= post_comment.member.nickname %>さん
        <% end %>
        のコメント：
      </td>
      <td><%= post_comment.comment %></td>
      <td>
        <% if post_comment.member == current_member %>
          <%= link_to "削除", book_post_comment_path(book, post_comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true, data: {"turbolinks" => false} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>